.idea/
*.iml
api-gateway/target/
masterdata/target/
opscanner/target/
ringme/target/
booking/target/

/.settings/
api-gateway/bin/
masterdata/bin/
opscanner/bin/
ringme/bin/
booking/bin/

.classpath
.project
.settings
core/target/
